
/* change font */
b, strong {
  font-weight: 500;
}
body p {
  color: #182125; 
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.6;
}
blockquote {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 1.6;
}
ul {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 1.5;
}


/* links */
a {
  color: #1363B1;
}
#navbar a {
  color: #182125;
}
a:hover {
  color: #1D55EA;
  text-decoration: none;
}


/* enlarge brand label */
.navbar-brand {
  font-size: 24px;
  line-height:26px;
}

/* remove version label */
.label {
  display: none;
}

/* remove home button when on homepage */
#navbar .active {
  display: none;
}

/* change navbar colors
   a nonsense type is used in them pkdown.yml
   which produces a desired side effect
*/
.navbar { 
  background-color: #FFF;
  border-color: #FFF;
  color: #182125;
}
.navbar-brand a {
  color: #182125; 
}

/* change hover behavior of pills */
.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #1D55EA;
  background-color: #FFF;
}

/* change hover behavior navbar drop downs */
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #1D55EA;
  background-color: #eeeeee;
}

/* change copy to clipboard button */
.btn-primary {
  background-color: #1D55EA;
  border-color: #1D55EA;
}



